:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --button-bg-color: #188CE8;
    --button-sec-bg: #F5F4FA;
    --contact-text-color: rgba(255, 255, 255, 0.6)
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент цвет текста #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */

.logo {
    color: #000000;
    font-family: Raleway;
}

.logo .logo-color{
    color: var(--button-bg-color);
}

/* Site nav */
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Contact */
.contact-nav .link {
    color: var(--primary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.adress{
    color: var(--primary-white-color);
    background-color: #2F303A;
}

.adress .contact{
color: var(--contact-text-color);
}