/* Hero */
.hero-title{
    color: var(--title-text-color);
}

/* Section */
.section-title{
    color: var(--title-text-color);
}

/* Feature */
.feature-list .title{
    color: var(--title-text-color);
}

/* Comand */
.comand .title{
    color: var(--title-text-color);
}

.button{
    color: var(--title-text-color);
}

.button.primary{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus{
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);
}

.button.secondary{
    background-color: var(--button-sec-bg);
}

.button.secondary:hover,
.button.secondary:focus{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
